<html>
<head>
  <title>Nombre aplicacion</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <style>
 .centrar
	{
		position: absolute;
		top:50%;
		left:50%;
		width:100px;
		margin-left:-200px;
		height:70px;
		margin-top:-150px;
		padding:5px;

	}
      .centrar2
	{
        height:70px;
		    width:100px;
        border: 1px solid;
        float: left;
        text-align: center;
        margin-top: 200px;
        margin-left: 50px;
      }
      .contenedor
	     {
        background-color: #328dd8;
        width: 80%;
        height: 200px;

      }
  </style>
  </head>
  <body>
      <div class="contenedor">

        <a href="#">
          <div class="cajas" style="margin-left: 100px;">
           <div class="centrar2">
                 <span>Parte #1</span>
           </div>

          </div>
              </a>
          <a href="#">
          <div class="cajas">
          <div class="centrar2">
             <span>Parte #1</span>
          </div>
          </div>
          </a>
    </div>
  </body>
</html>
