<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <style>
 .centrar
	{
		position: absolute;
		top:50%;
		left:50%;
		width:400px;
		margin-left:-200px;
    margin-top:-140px;
		padding:5px;
    margin-bottom: 50px;
        text-align:center;
        background-color: #e6fff7;
        padding-top:15px;
	}
    .cabecera{
    margin-top: 10px;
    height: 190px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;

  }
  .foto{
    width: 20%;
    height: 100%;
  }
  </style>
  </head>
  <body>
  <div class="cabecera">
  <img class=foto src="/static/images/logo.png"/>
</div>
    <div class="centrar">
    <form action="#" method="POST">
  <label for="respuesta1">¿Dónde ha sucedido?</label><p>Recinto escolar y/o alrededores</p><br>
  <label for="respuesta2">Suceso:</label><p>Pelea</p><br>
  <label for="respuesta3">¿Quiénes han participado?</label><p>Varios alumnos (=2)</p><br>
  <label for="respuesta4">Resultado:</label><p>Arañazos</p><br>
  <label for="respuesta5">¿Ha sido necesaria asistencia médica?</label><p>Sí</p><br>
  <label for="respuesta6">Esa asistencia ha sido</label><p>Interna del propio centro</p><br>



</form>
</div>
  </body>
</html>
